@charset "utf-8";
/* CSS Document */

.margin{width:1190px;margin:0 auto;}

#top{background:#f6f6f6;height:34px;font:12px/34px "";color:#606060;}
#top .top-l{float:left;position:relative;}
#top .top-l a{background:url(../img/base.png);display:inline-block;}
#top .top-l .img1{position:absolute;left:240px;top:30px;display:none;z-index: 200;}
#top .top-l a:nth-of-type(1){border-radius:4px;background-position:-114px -500px;width:54px;height:22px;color:#fff;box-sizing:border-box;padding-left:9px;font:12px/22px "";}
#top .top-l a:nth-of-type(2){background-position:0 -892px;padding-left:20px;margin:0 20px;}
#top .top-l a:nth-of-type(3){background-position:0 -642px;padding-left:20px;}
#top .top-l a:nth-of-type(3):hover~.img1{display:block;}
#top .top-l a:nth-of-type(4){background-position:-159px -591px;padding-left:12px;margin-left:12px;}

#top .top-r{float:right;font:12px/34px "";}
#top .top-r a:nth-of-type(1){color:#fff;padding:3px 5px;border-radius:3px;background:#33beff;}
#top .top-r a:nth-of-type(3){margin-left:10px;}
#top .top-r span{margin-left:3px;}
#top a:hover{color:#005aaa;}

header{}
header .logo{float:left;margin-top:19px;}
header .search{float:left;margin:14px 0px 13px 102px;}
header .search .search-t{}
header .search .search-t input{float:left;border:none;background:none;}
header .search .search-t input:nth-of-type(1){width:440px;height:25px;border:1px solid #ccc;border-right:0;padding:2px 5px;}
header .search .search-t input:nth-of-type(2){width:34px;height:31px;background:url(../img/base.png);background-position:0 -1100px;}
header .search .search-b{padding:6px 0 0 2px;width:490px;height:18px;font:12px/18px "";color:#606060;}
header .search .search-b a{color:#606060;margin:0 2px;}
header .search .search-b a:hover{color:#005aaa;}
header .header-r{float:right;padding-top:14px;}
header .header-r a{background:url(../img/base.png);margin-right:28px;padding-top:36px;display:inline-block;color:#005aaa;font-size:12px;}
header .header-r a:nth-of-type(1){background-position:center -240px;}
header .header-r a:nth-of-type(2){background-position:center -160px;}
header .header-r a:nth-of-type(3){background-position:center -1400px;}

nav{background:#333;}
nav .nav{position:relative;}
nav .nav .nav-l{position:absolute;z-index:100;}
nav .nav .nav-l .nav-l-t a{display:block;height:40px;width:192px;background:#005AAA;font:15px/40px "";color:#fff;text-align: center;}
nav .nav .nav-l .nav-l-b{width:192px;background:rgba(0,0,0,0.6);position:absolute;}
nav .nav .nav-l .nav-l-b .ul1{padding:14px 0 15px 0;}
nav .nav .nav-l .nav-l-b .ul1 li{width:180px;height:36px;}
nav .nav .nav-l .nav-l-b .ul1 li a{display: block;width: 100%;height:100%;color:#fff;font:14px/36px "";padding-left:12px;}
nav .nav .nav-l .nav-l-b .ul1 li a:hover{background:#fff;color:#333333;}

nav .nav .nav-l .nav-l-b .bingxiang{display:none;background:#f0f0f0;position:absolute;/*left:192px;*/top:0px;height:425px;z-index:50;}
nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-l{float:left;height:100%;width:207px;background:#fff;}
nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-l ul{}
nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-l ul li{}
nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-l ul li a{display:inline-block;font:12px/40px "";color:#606060;padding:5px 0px 5px 80px}
nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-l ul li:nth-of-type(1) a{background:url(../img/a1.jpg) no-repeat 15px 5px;}
nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-l ul li:nth-of-type(2) a{background:url(../img/a2.jpg) no-repeat 15px 5px;}
nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-l ul li:nth-of-type(3) a{background:url(../img/a3.jpg) no-repeat 15px 5px;}
nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-l ul li:nth-of-type(4) a{background:url(../img/a4.jpg) no-repeat 15px 5px;}
nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-l ul li:nth-of-type(5) a{background:url(../img/a5.jpg) no-repeat 15px 5px;}
nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-l ul li:nth-of-type(6) a{background:url(../img/a6.jpg) no-repeat 15px 5px;}
nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-l ul li a:hover{color:#005AAA;}

nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-c{float:left;width:232px;position:absolute;/*left:207px;*/top:0px;}
nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-c ul{border-left:4px solid #f0f0f0;border-right:4px solid #f0f0f0;}
nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-c ul li{padding: 30px 30px 44px 115px;border-top:4px solid #f0f0f0;}
nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-c ul li:nth-of-type(1){background:url(../img/b1.jpg) no-repeat 30px 20px #fff;}
nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-c ul li:nth-of-type(2){background:url(../img/b2.jpg) no-repeat 30px 20px #fff;}
nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-c ul li:nth-of-type(3){background:url(../img/b3.jpg) no-repeat 30px 20px #fff;}
nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-c ul li:nth-of-type(4){background:url(../img/b4.jpg) no-repeat 30px 20px #fff;}

nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-r{position:absolute;/*left:439px;*/top:0px;float:left;padding-top:155px;height:100%;box-sizing:border-box;width:240px;background:url(../img/c1.png) no-repeat 50px 20px #fff;}
nav .nav .nav-l .nav-l-b .bingxiang .bingxiang-r a{padding-left:80px;}
nav .nav .nav-l .nav-l-b .bingxiang a{color:#606060;}
nav .nav .nav-l .nav-l-b .bingxiang a:hover{color:#005AAA;}

nav .nav .nav-c{padding-left:194px;text-align: center;}
nav .nav .nav-c li{float:left;border-right:1px solid #555;}
nav .nav .nav-c li a{font:16px/40px "";display:inline-block;padding:0 25px;color:#fff;transition:0.5s;}
nav .nav .nav-c li a:hover{background:#005aaa;}
nav .nav .nav-c li:nth-of-type(2) p{width:16px;height:15px;position:absolute;left:355px;top:4px;background:url(../img/base.png);background-position:0 -1000px;}
nav .nav .nav-r{position:absolute;width:154px;height:40px;left:1036px;}
nav .nav .nav-r a{display:block;color:#fff;padding-left:42px;background:url(../img/base.png);background-position:16px -338px;background-color:#626262;font:12px/40px "";}

#banner{height:470px;background:#f2f2f2;}
#banner #Slide{position:relative;height:425px;}

#main{background:#f2f2f2;}
#main .main-sp{display:flex;justify-content:space-between;position:relative;padding-bottom:23px;}
#main .main-sp li a img{transform:0.3;display:block;}
#main .main-sp li a:hover img{transform:translateX(-5px);}

#main .main-top{padding-bottom:20px;}
#main .main-top h3{font:700 23px/67px "";color:#606060;}
#main .main-top ul{border-bottom:1px solid #005AAA;height:73px;}
#main .main-top ul li{float:left;height:72px;box-sizing:border-box;padding:8px 9px 8px 35px;background:#f2f2f2;border-top:1px solid #c6d5e4;border-right:1px solid #c6d5e4;}
#main .main-top ul li dl dd span{color:#999;}
#main .main-top ul li dl dd a{color:#606060;}
#main .main-top ul li dl dd a:hover{color:#005AAA;}
#main .main-top ul li:nth-of-type(1){height:73px;border-top: 1px solid #005aaa;background:#005aaa;padding:0;text-align: center;font:16px/73px "";color:#fff;width:94px;}
#main .main-top ul li:nth-of-type(2){background:url(../img/base2.png) no-repeat 10px 10px;}
#main .main-top ul li:nth-of-type(3){background:url(../img/base2.png) no-repeat 10px -90px;}
#main .main-top ul li:nth-of-type(4){background:url(../img/base2.png) no-repeat 10px -190px;}
#main .main-top ul li:nth-of-type(5){background:url(../img/base2.png) no-repeat 10px -290px;}
#main .main-top ul li:nth-of-type(6){background:url(../img/base2.png) no-repeat 10px -390px;}
#main .main-top ul li:nth-of-type(7){background:url(../img/base2.png) no-repeat 10px -490px;}
#main .main-top ul li:nth-of-type(8){background:url(../img/base2.png) no-repeat 10px -590px;}
#main .main-top ul li:nth-of-type(2):hover{background-color:#c6d5e4;}
#main .main-top ul li:nth-of-type(3):hover{background-color:#c6d5e4;}
#main .main-top ul li:nth-of-type(4):hover{background-color:#c6d5e4;}
#main .main-top ul li:nth-of-type(5):hover{background-color:#c6d5e4;}
#main .main-top ul li:nth-of-type(6):hover{background-color:#c6d5e4;}
#main .main-top ul li:nth-of-type(7):hover{background-color:#c6d5e4;}
#main .main-top ul li:nth-of-type(8):hover{background-color:#c6d5e4;}

#main .main-t{padding-bottom:15px;position:relative;height:1221px;overflow: hidden;}
#main .main-t ul{width:1190px;height:1221px;display:flex;justify-content:space-between;flex-wrap:wrap;position:absolute;}
#main .main-t ul li{width:288px;height:382px;position:relative;margin-bottom:20px;transition:0.3s;}
#main .main-t ul li dl{transition:0.3s;padding:10px 15px 24px 15px;background:#fff;font:12px/20px "";position:absolute;}
#main .main-t ul li dl i{position:absolute;right:15px;top:10px;color:#005AAA;}
#main .main-t ul li dl dt{color:#606060;}
#main .main-t ul li dl dd{color:#888;width:258px;}
#main .main-t ul li dl dd:nth-of-type(2){color:#005AAA;}
#main .main-t ul li p{box-sizing:border-box;padding:10px;position:absolute;left:0px;bottom:0px;width:100%;height:40px;background:#fff;}
#main .main-t ul li p span{background:#d71249;font:12px/20px "";padding:2px;color:#fff;}
#main .main-t ul li:hover{box-shadow:0 0 5px #333;}
#main .main-t ul li:hover dl{transform: translateY(-20px);}
#main .main-t .ul-l{left:0%;}
#main .main-t .ul-r{left:100%;}
#main .main-t .ul-three{left:200%;}
#main .main-t .ul-four{left:300%;}

#main .main-c{padding-bottom:24px;}
#main .main-c h3{font:700 23px/67px "";color:#606060;}
#main .main-c ul{display:flex;justify-content: space-between;}
#main .main-c ul li img{transform: 0.3;}
#main .main-c ul li:hover img{transform: translateX(-6px);}

#main .main-b{padding-bottom:50px;}
#main .main-b h3{font:700 23px/67px "";color:#606060;}
#main .main-b ul{display:flex;justify-content: space-between;}
#main .main-b ul li img{transform: 0.3;}
#main .main-b ul li:hover img{transform: translateX(-6px);}

#main .hudong{padding-bottom:46px;}
#main .hudong ul{display:flex;justify-content: space-between;}
#main .hudong ul li{width:380px;box-sizing:border-box;float:left;font:12px/24px "";position:relative;}
#main .hudong ul li h3{font:700 23px/30px "";color:#606060;margin-bottom:22px;display: inline-block;vertical-align: middle;}
#main .hudong ul li:nth-child(1) span{display:inline-block;height:30px;width:30px;background:url(../img/base2.png) no-repeat 0px -700px;}
#main .hudong ul li:nth-child(2) span{display:inline-block;height:30px;width:30px;background:url(../img/base2.png) no-repeat -60px -700px;}
#main .hudong ul li:nth-child(3) span{display:inline-block;height:30px;width:30px;background:url(../img/base2.png) no-repeat -120px -700px;}
#main .hudong ul li p{padding:31px 0 21px 22px;box-sizing: border-box;height:172px;}
#main .hudong ul li p a{display:block;color:#606060;}
#main .hudong ul li p a:hover{color:#005AAA;}
#main .hudong ul li:nth-of-type(1) p{padding-left:165px;background:url(../img/t12.jpg) no-repeat 41px 33px #d9e2e9;}
#main .hudong ul li:nth-of-type(2) p{background:#e4f0ca;}
#main .hudong ul li:nth-of-type(3) p{background:#ebebeb;}

#main .shouhou{padding-bottom:17px;border-bottom:1px solid #ddd;}
#main .shouhou h3{font:700 12px/24px "";color:#606060;}
#main .shouhou a{font:12px/24px "";color:#606060;}
#main .shouhou a:hover{color:#005AAA;}
#main .shouhou span{font:12px/24px "";color:#606060;}

#main .last{padding:12px 0 20px 20px;display:flex;justify-content:space-between;}
#main .last dl{width:200px;}
#main .last dl dt{font:700 12px/26px "";color:#606060;}
#main .last dl dd{font:12px/26px "";float:left;margin:0 10px;}
#main .last dl dd a{color:#606060;}
#main .last dl dd a:hover{color:#005AAA;}

#main .zhinan{display:flex;justify-content:space-between;padding-bottom:15px;}
#main .zhinan dl{width:290px;height:90px;box-sizing: border-box;padding:25px 0 0 97px;}
#main .zhinan dl:nth-child(1){background:url(../img/t13.jpg) no-repeat 9px 7px #fff;}
#main .zhinan dl:nth-child(2){background:url(../img/t14.jpg) no-repeat 9px 7px #fff;}
#main .zhinan dl:nth-child(3){background:url(../img/t15.jpg) no-repeat 9px 7px #fff;}
#main .zhinan dl:nth-child(4){background:url(../img/t16.jpg) no-repeat 9px 7px #fff;}

#main .zhinan dl dt{font:700 12px/22px "";color:#606060;}
#main .zhinan dl dd{font:12px/22px "";color:#606060;}

footer{background:#e1e1e1;text-align: center;height:139px;padding-top:21px;font:12px/24px "";color:#606060;}
footer a{color:#606060;}
footer a:hover{color:#005AAA;}
footer .footer-b{padding-top:10px;}
footer .footer-b img{width:108px;height:40px;}



